<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atletas</title>
    <link rel="stylesheet" href="/css/style-atletas.css">
    <!-- CSS Menu bar -->
    <link rel="stylesheet" href="/css/style-navbar.css">  
</head>
<body id="bodyy">
    <header>
        <nav>
            <a href="" id="logo">TUDO DE LUTA</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="/" class="itens">Inicio</a></li>
                <li><a href="/atletas/" class="itens">Atletas</a></li>
                <li><a href="#" class="itens">JiuJitsu</a></li>
                <li><a href="#" class="itens">Tutoriais</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1 id="title">ATLETAS</h1>
        <p id="subtitulo">Aqui temos alguns posts de atletas que fizemos, para representar o que são e inspirar as pessoas.</p>
    </div>
    <script src="../app.js"></script>
    <!-- JS Navbar -->
    <script src="../assets/js/navbar.js"></script>
</body>
</html>