<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atletas</title>
    <link rel="stylesheet" href="/css/style-atletas.css">
    <!-- CSS Default -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- CSS Menu bar -->
    <link rel="stylesheet" href="/css/style-navbar.css">  
</head>
<body id="bodyy">
    <header>
        <nav>
            <a href="/" id="logo">TUDO DE LUTA</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="/" class="itens">Inicio</a></li>
                <li><a href="/atletas/" class="itens">Atletas</a></li>
                <li><a href="#" class="itens">JiuJitsu</a></li>
                <li><a href="#" class="itens">Tutoriais</a></li>
                <li><a href="/olimpiadas/" class="itens">Olimpíadas</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1 id="title">ATLETAS</h1>
        <p id="subtitulo">Aqui temos alguns posts de atletas que fizemos, para representar o que são e inspirar as pessoas.</p>

        <div class="conteudo">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae officiis eveniet maiores veritatis est! Expedita quam quod culpa. Illo omnis iusto necessitatibus reiciendis iure aliquam facilis quo ex! Reiciendis, impedit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium atque provident cumque assumenda alias illum deserunt tenetur repellat tempore quo! Soluta porro rerum maxime et aperiam illo assumenda ratione officiis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque quas consectetur iusto vero cumque, optio quos ut quidem. Aperiam deleniti quibusdam deserunt ipsum quod, inventore praesentium! Reiciendis repudiandae nihil inventore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit corporis voluptatem minima aliquam eaque. Cupiditate laborum ea esse dolorum nulla iusto quos corrupti autem fuga ullam tempore, aliquid pariatur porro.</p>
        </div>
    </div>


    <script src="../app.js"></script>
    <!-- JS Navbar -->
    <script src="../assets/js/navbar.js"></script>
</body>
</html>