<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atletas</title>
    <link rel="stylesheet" href="/css/style-atletas.css">
    <!-- CSS Default -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- CSS Menu bar -->
    <link rel="stylesheet" href="/css/style-navbar.css">  
</head>
<body>
    <header>
        <nav>
            <a href="/" id="logo">TUDO DE LUTA</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="/" class="itens">Inicio</a></li>
                <li><a href="/atletas/" class="itens">Atletas</a></li>
                <li><a href="/olimpiadas/" class="itens">Olimpíadas</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1 id="title">ATlETAS</h1>
        <button><a href="/leandroLo/" class="atletas">Leandro lo 🥋</a></button>
        <button><a href="/leandroLo/" class="atletas">Mica Galvão 🥋</a></button>


    <!-- Meu JS -->
    <script src="../app.js"></script>
    <!-- JS Navbar -->
    <script src="../assets/js/navbar.js"></script>
</body>
</html>