<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tudo de Luta</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style-navbar.css">    
</head>
<body id="bodyy">
    <header>
        <nav>
            <a href="" id="logo">TUDO DE LUTA</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="#" class="itens">Inicio</a></li>
                <li><a href="/atletas/" class="itens">Atletas</a></li>
                <li><a href="#" class="itens">JiuJitsu</a></li>
                <li><a href="#" class="itens">Tutoriais</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="centered-content">
                <h1 id="title">TUDO DE LUTA</h1>
                <p id="subtitulo">Atividades físicas, esportes de combate e notícias do mundo da luta!</p>
            </div>
        </div>
    </main>
    <script src="../app.js"></script>
     <!-- JS Navbar -->
      <script src="../assets/js/navbar.js"></script>
</body>
</html>