<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tudo de Luta</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style-navbar.css">   
</head>
<body class="custon-body">
    <header>
        <nav>
            <a href="" id="logo">TUDO DE LUTA</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="#" class="itens">Inicio</a></li>
                <li><a href="/atletas/" class="itens">Atletas</a></li>
                <li><a href="/olimpiadas/" class="itens">Olimpíadas</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <h1 id="title">TUDO DE LUTA</h1>
            <p id="subtitulo">Atividades físicas, esportes de combate e notícias do mundo da luta!</p>
            <div class="conteudo" >
                <h2>Apresentação</h2>
                <p>O objetivo do projeto “Tudo de luta” é promover o conhecimento e prática do bem-estar das pessoas a partir dos esportes de combate (kickboxe, boxe, muay thai, jiu-jitsu, etc.) . Queremos ensinar de forma simples e objetiva os benefícios de se praticar a arte marcial por meio de um site autoral e redes sociais como Instagram e YouTube.</p>
                <h2>ESPORTES DE COMBATE E BEM-ESTAR</h2>
                <p>A ideia do projeto é incentivar as pessoas a praticarem alguma luta, tendo em vista que a atividade física reduz o estresse e sintomas de ansiedade, melhora a qualidade do sono, melhora a aprendizagem, reduz sintomas depressivos, previne e diminui a mortalidade por doenças crônicas, como pressão alta e diabetes, melhora a força, equilíbrio e flexibilidade, proporciona a socialização e a convivência. </p>
            </div>
        </div>
    </main>

    <!-- Meu JS -->
    <script src="../app.js"></script>
    <!-- JS Navbar -->
      <script src="../assets/js/navbar.js"></script>
</body>
</html>