<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leandro lo</title>
    <link rel="stylesheet" href="/css/style-leandroLo.css">
    <!-- CSS Default -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- CSS Menu bar -->
    <link rel="stylesheet" href="/css/style-navbar.css">  
    

</head>
<body id="bodyy">
      <header>
        <nav>
            <a href="/" id="logo">TUDO DE LUTA</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="/" class="itens">Inicio</a></li>
                <li><a href="/atletas/" class="itens">Atletas</a></li>
                <li><a href="/olimpiadas/" class="itens">Olimpíadas</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container conteudo">
            <h2>Leandro LO</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex, molestiae neque. Tempore, esse nihil! Quae, corporis earum quas esse natus, velit repellat quo quis laboriosam consequuntur itaque hic excepturi ex.</p>
        </div>
    </main>
    <!-- Meu JS -->
    <script src="../app.js"></script>
    <!-- JS Navbar -->
    <script src="../assets/js/navbar.js"></script>
</body>
</html>