<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olimpíadas</title>
    <!-- CSS Default -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- CSS Menu bar -->
    <link rel="stylesheet" href="/css/style-navbar.css">
    <!-- CSS personalizado -->
     <link rel="stylesheet" href="/css/style-olimpiadas.css">
</head>
<body id="bodyy">
    <header>
        <nav>
            <a href="/" id="logo">TUDO DE LUTA</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="/" class="itens">Inicio</a></li>
                <li><a href="/atletas/" class="itens">Atletas</a></li>
                <li><a href="#" class="itens">Olimpíadas</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <h1 id="title">Olimpiadas</h1>
            <div class="esportes">BOXE</div> <div class="esportes">TAEKWONDO</div> <div class="esportes">JUDO</div> <div class="esportes">ESGRIMA</div>
            <article>
                <section>
                    <h2>BOXE</h2>
                    <h3>Atletas que participaram</h3>
                    <ul>
                        <li>Bia Ferreira (até 60kg)</li>
                        <li>Abner Teixera  (acima de 92kg)</li>
                        <li>Caroline Arruda (até 50kg)</li>
                        <li>Michael Douglas (até 51kg)</li>
                        <li>Tatiana Chagas (até 54kg)</li>
                        <li>Jucilen Romeu (até 57kg)</li>
                        <li>Luiz Oliveira (até 57kg)</li>
                        <li>Bárbara Santos (até 66kg)</li>
                        <li>Wanderley Pereira (até 80kg)</li>
                        <li>Keno Marley (até 92kg)</li>
                    </ul>
                    <h3>Desempenho</h3>    
                </section>
            </article>
        </div>
    </main>

    <!-- Meu JS -->
    <script src="../app.js"></script>
    <!-- JS Navbar -->
    <script src="../assets/js/navbar.js"></script>
</body>
</html>