@charset "UTF-8";

/* Importando font de luta */
@font-face {
    font-family: 'fightFont';
    src: url('/fonts/fontFight.ttf');
}

* {
    margin: 0%;
    padding: 0%;
}

/* Declarando variáveis */
:root{
    --color1: #F01610;
    --color2: #585E73;
    --color3: #23232e;
    --color4: #585e731c;
}

/* Configurando coisas */
#bodyy{
    background-color: #b2b3b7;;
    color: var(--color2);
    font-family: system-ui, -apple-system,Arial, sans-serif;;
}


#title{
    font-family: 'fightFont', sans-serif,serif;
    font-size: 5em;
    font-weight: normal;
}

#logo{
    font-family: 'fightFont', sans-serif,serif;
    font-size: 30px;
    text-transform: uppercase;

}
  
.itens{
    text-decoration: none;
    color: #fff;
}

.container{
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

#subtitulo{
    font-size: 1.25em;
    color: black;
    font-family: system-ui, -apple-system,Arial, sans-serif;
}

.conteudo{
    font-family: system-ui, -apple-system,Arial, sans-serif;
    color: black;
}